<div class="container">
  <div class="d-flex justify-content-center h-100" style="padding-top: 8rem;">
    <div class="card">
      <div class="card-header">
        <h3>Влезте в профила си</h3>
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row pt-2">
          <div class="col-md-8 offset-md-2">
            <form
            >
              <div class="form-group">
                <label style="color:white;" for="userName"
                  >Потребителско име:</label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      style="background-color: #FFC312"
                      ><i class="far fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="username"
                    name="userName"
                    [(ngModel)]="user.username"
                  />
                </div>
              </div>
              <div class="form-group">
                <label style="color:white;" for="pass">Парола: </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      style="background-color: #FFC312"
                      ><i class="fas fa-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    placeholder="password"
                    class="form-control"
                    name="pass"
                    [(ngModel)]="user.password"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  type="button"
                  value="Вход"
                  class="btn float-right login_btn"
                  (click)="login(user)"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

