.social_icon span {
    font-size: 40px;
    margin-left: 10px;
    width: 50px;
    color: black !important;
    background-color: #ffc312;
  }
  
  .social_icon span:hover {
    background-color: white;
    cursor: pointer;
  }
  
  .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
    text-align: center;
  }
  
  .card-header h3 {
    color: white;
    padding-top: 15px;
  }
  
  .card {
    height: 30rem;
    margin-top: 2rem;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
  
  .container {
    height: 100%;
    align-content: center;
  }
  
  .topic_btn {
    color: black;
    background-color: #ffc312;
    height: 60px;
  }
  
  .topic_btn_add {
    width: 100%;
  }
  
  .topic_btn:hover {
    color: black;
    background-color: white;
  }
  
  .login_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
    margin-top: 5rem;
  }
  
  .login_btn:hover {
    color: black;
    background-color: white;
  }
  
  .my_link {
    color: blue !important;
    margin-left: 4px;
  }
  
  .my_link:hover {
    color: FFC312 !important;
    cursor: pointer;
    text-decoration: underline !important;
  }
  