.social_icon span {
    font-size: 40px;
    margin-left: 10px;
    width: 50px;
    color: black !important;
    background-color: #ffc312;
  }
  
  .social_icon span:hover {
    background-color: white;
    cursor: pointer;
  }
  
  .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
    text-align: center;
  }
  
  .card-header h3 {
    color: white;
    padding-top: 15px;
  }
  
  .card {
    height: auto;
    margin-top: 2rem;
    margin-bottom: auto;
    width: 1100px;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .card.myCard{
    width: auto;
    background-color: rgba(0,0,0,0)!important;
    border-color: #ffc312;
  }
  
  .container {
    height: 100%;
    align-content: center;
  }
  
  .topic_btn {
    color: black;
    background-color: #ffc312;
    height: 60px;
  }
  
  .topic_btn_add {
    width: 100%;
  }
  
  .topic_btn:hover {
    color: black;
    background-color: white;
  }
  
  .logout_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
  }
  
  .login_out:hover {
    color: black;
    background-color: white;
  }
  
  .my_link {
    color: blue !important;
    margin-left: 4px;
  }
  
  .my_link:hover {
    color: FFC312 !important;
    cursor: pointer;
    text-decoration: underline !important;
  }

  .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
