<div class="container">
  <div class="d-flex justify-content-center h-100" style="padding-top: 8rem;">
    <div class="card">
      <div class="card-header">
        <h3>Одобрете профилите</h3>
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div *ngIf="(teachers$ | async) as teachers">
            <div class="dropdown" *ngFor="let teacher of teachers" style="margin-bottom: 2rem;">
              <a class="btn btn-danger" style="width: -webkit-fill-available; text-align: start;"
                href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="row user-row">
                  <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="font-size: 3rem;">
                      <i class="fas fa-user-circle"></i>
                  </div>
                  <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                    <strong>{{teacher.name }}</strong><br>
                    <span style="color: black;">Потребител: Учител</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="width: -webkit-fill-available; background-color: rgba(0,0,0,0.8)!important;">
                  <div class="d-flex justify-content-center">
                <div
                  class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                  <div class="card myCard">
                    <div class="card-header bg-warning">
                      <h4 class="card-title">Информация за потребителя</h4>
                    </div>
                    <div class="card-block" style="background-color: #fff !important;">
                      <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <i class="fas fa-user-circle" style="font-size: 9rem; margin-top: 2rem; margin-left: 1.5rem;"></i>
                        </div>
                        <div class=" col-md-9 col-lg-9" style="padding-top: 1rem;">
                          <strong>{{ teacher.name }}</strong><br>
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Тип потребител: </td>
                                <td>{{ teacher.type }}</td>
                              </tr>
                              <tr>
                                <td>Потребителско име: </td>
                                <td>{{ teacher.username }}</td>
                              </tr>
                              <tr>
                                <td>Мейл: </td>
                                <td>{{ teacher.email }}</td>
                              </tr>
                              <tr>
                                <td>Приеми заявката: </td>
                                <td><button class="btn btn-success" (click)="updateTeacher(teacher.teacher, true)">Приеми</button></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <input type="button" value="Изход" class="btn float-right logout_btn" (click)="logout()" />
        </div>
      </div>
    </div>
  </div>